{% extends "base.html" %}
{% load static %}


{% block content %}

    <section class="head index-part-1">
     
          <div class="wow">
          <div class="head index-part-1">
            <div class="row">
               <div class="wow-logo">
                  <img class="img-responsive img-logo" src="{% static 'img/wow_logo.png'%}">
               </div> 
               <div class="font-1 helmet text-center">
                 <p>A <strong>CASUAL</strong> community.</p>
               </div>
               <div class="wow-btn text-center">
                     <a class="btn btn-default wow-button" href="#">DIVE IN</a>
               </div>
            </div>
          </div>
        </div>
    </section>
 
    <section class="index-part-2">
         <div class="container">

            <div class="row">
               <div class="text-center">
                 <h2>BLABLABLA</h2>
               </div>
               <hr class="hr-mid">
               <div class="sub-text text-center">
                     <p class="font-1">
                        When life gives you lemon .......
                     </p>
               </div>
           </div>

            <div class="row">

                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                      <div class="block text-center block-first">
                                 <div class="icon">
                                    <i class="fa fa-diamond fa-2x"></i>
                                 </div>  
                                   <h4>Anonymous</h4>
                                   <p class="font-2">You can create an account, or not, just post whatever you like.</p>
                        </div>   
                </div>
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                      <div class="block text-center block-second">
                             <div class="icon">
                                  <i class="fa fa-camera fa-2x"></i>
                             </div>  
                              <h4>Chill</h4>
                              <p class="font-2">It's ok to be internet troll here, like anyone would care. </p>                                       
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-third">
                                 <div class="icon">
                                     <i class="fa fa-eye fa-2x"></i>
                                 </div>  
                                   <h4>No Regret</h4>
                                   <p class="font-2">Sorry, whatever is posted, is posted. Can't take shit back.</p>
                    </div>   
                </div>
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-last">
                            <div class="icon">
                                 <i class="fa fa-sliders fa-2x"></i>
                            </div>  
                            <h4>Err..</h4>
                            <p class="font-2">Don't know what to say else, but need to fill this up.</p>                                        
                      </div>
                    </div>
                </div>
            </div>
    </section>
              
    <!-- <section class="social">
      <ul>
        <li><a href="#" class="fa fa-pinterest fa-2x" aria-hidden="true"></a></li>
        <li><a href="#" class="fa fa-twitter fa-2x" aria-hidden="true"></a></li>
        <li><a href="#" class="fa fa-linkedin fa-2x" aria-hidden="true"></a></li>
        <li><a href="#" class="fa fa-stumbleupon fa-2x" aria-hidden="true"></a></li>  
      </ul>
    </section> -->


 {% endblock %}



