{% extends 'base.html' %}


{% block content %}
<head>

<link rel='stylesheet' href='//content.invisioncic.com/p289038/css_built_2/341e4a57816af3ba440d891ca87450ff_framework.css.9b437256cb398deb6946b0a2acc1ff68.css.gz?v=591afbace3' media='all'>
<link rel='stylesheet' href='//content.invisioncic.com/p289038/css_built_2/05e81b71abe4f22d6eb8d1a929494829_responsive.css.ac35e83d85b8d2d8a7926652b11d0bd1.css.gz?v=591afbace3' media='all'>
<link rel='stylesheet' href='//content.invisioncic.com/p289038/css_built_2/90eb5adf50a8c640f633d47fd7eb1778_core.css.bad5fbedde6bddbe277857ae9c95d4d4.css.gz?v=591afbace3' media='all'>
<link rel='stylesheet' href='//content.invisioncic.com/p289038/css_built_2/5a0da001ccc2200dc5625c3f3934497d_core_responsive.css.134bb11490829a5b226eef76d8bdaaf1.css.gz?v=591afbace3' media='all'>
<link rel='stylesheet' href='//content.invisioncic.com/p289038/css_built_2/62e269ced0fdab7e30e026f1d30ae516_forums.css.7446ac149d205e192e5a2d763ee48e85.css.gz?v=591afbace3' media='all'>
<link rel='stylesheet' href='//content.invisioncic.com/p289038/css_built_2/76e62c573090645fb99a15a363d8620e_forums_responsive.css.574a5512f66401f6e56998f32a0d0b23.css.gz?v=591afbace3' media='all'>
<link rel='stylesheet' href='//content.invisioncic.com/p289038/css_built_2/258adbb6e4f3e83cd3b355f84e3fa002_custom.css.9e72647a811b7f343857b06bbf81c53b.css.gz?v=591afbace3' media='all'>

</head>



<div id="ipsLayout_mainArea">

   <div class="ipsPageHeader ipsClearfix ipsSpacer_bottom">
      <h1 class="ipsType_pageTitle">New Post</h1>
   </div>

   {% if error %}
       <div class="alert alert-info alert-dismissable">
         <p> ERROR: </p>
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>              
       </div>
    {% endif %}

   <form accept-charset="utf-8" class="ipsForm ipsForm_vertical" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
   
   <div class="ipsBox">
      <h2 class="ipsType_sectionTitle ipsType_reset ipsHide">Topic Details</h2>
      
      <div class="ipsPad">
            
         <ul class="ipsForm ipsForm_vertical" maxlength="600">
               <!-- subject -->
         <li class="ipsFieldRow ipsClearfix ">
   
            <label class="ipsFieldRow_label" for="elInput_topic_title">
               Title <span class="ipsFieldRow_required">Required</span>
            </label>
      
            <div class="ipsFieldRow_content">
               <!-- <input type="text" class="title" size='40'> -->
                  {{ form.subject }}
                  <br>
            </div>
   
         </li>
              
                        <!-- contect -->
         <li class="ipsFieldRow ipsClearfix ">
            <label class="ipsFieldRow_label" for="elInput_topic_tags">
               Context 
               <span class="ipsFieldRow_required">Required</span>
            </label>
            
            <div class="ipsFieldRow_content">
               <div class="ipsContained">
               <!-- <textarea class="post_context" rows="20" cols="100" style="max-width: 100%; max-height: 100%;"></textarea> -->
               {{ form.context }}
            </div>   
         </li>
                              
      </ul>
   </div>
      
   <div class="ipsAreaBackground ipsPad ipsType_center">
      <a href="#" class="ipsButton ipsButton_link ipsButton ipsButton_medium">Cancel</a>
      <input class="ipsButton ipsButton_primary" type="submit" value="Submit Topic" />
   </div>

   </div>   
</form>
</div>

{% endblock %}