{% extends "base.html" %} 
{% load static %}
{% block content %}

<body>

   <section class="element-page">
          <div class="container">
            <h2 class="text-center">Terms and Acknowledge</h2>
            <hr class="hr-mid">

            <section class="Element-heading">
              <h3>WHAT KIND OF INFORMATION WE COLLECT?</h3>
                <h4>Personal Information</h4>
                <p>We collect the content, communications and other information you provide when you use our portal, including when you sign up for an account, create or share content, and message or communicate with others. By registering, you are authorizing us to collect, store and use your email address in accordance with this Privacy Policy.</p>
                <h4>Metadata</h4>
                <p>In an effort to improve the quality of the Service, we track information provided to us by your browser or by our software application when you view or use the Service.</p>
                <h4>User Contributions</h4>
                 <p>You can choose to share experience. Please be aware that any Personal Data or contribution you choose to share in this way, will be published, and made generally available to other users and third parties via the Site. This user generated content is publicly available and we are not responsible for the privacy practices of the other users or third parties who may view and use that information. If you do not want your Personal Data or user contributions to be accessible in this way, please do not post it. </p>
            </section>

            <section class="Element-heading">
                <h3>HOW DO WE USE THIS INFORMATION?</h3>
                <p>
                  We do not sell, trade, rent or otherwise share for marketing purposes your Personal Information with third parties without your consent. We only use the information we have to verify accounts and activity, combat harmful conduct, detect malicious posting and help you retrive your password.
                </p>
            </section>
            <section class="Element-heading">
                <h3>HOW DO WE SHARE DATA WITH THIRD PARTY?</h3>
                <p>
                  Forum post can be seen by anyone, even if they don't have an account. This includes your username if you have an account; any information you share with a public audience; and content you share on forums. If we are involved in a merger, acquisition, financing due diligence, reorganization, bankruptcy, receivership, sale of our assets, or transition of service to another provider, your information may be sold or transferred as part of such a transaction as permitted by law and/or contract. You acknowledge and consent that such transfers may occur and are permitted by this Privacy Policy, and that any acquirer of our assets may continue to process your Personal Information as set forth in this Privacy Policy.
                </p>
            </section>

            <section class="Element-heading">
                <h3>YOUR RIGHTS</h3>
                <p>
                  Under Applicable Data Protection Laws, you may have the right, in certain cases, to request access to your Personal Data that we process, to request details about such Personal Data. You also have the right at any time to delete your account, update information or decline to provide Personal Data to us and/or refuse cookies in your browser.</p>
            </section>

            <section class="Element-heading">
                <h3>INFORMATION CONFIDENTIALITY AND SECURITY</h3>
                <p>
                  By using our service or providing personal data to us, you agree to acknowledge the following:
                  <ul>
                    <li>If we learn of a security system’s breach, we may attempt to notify you electronically by posting a notice on our site. We can only send an email to you if you have an account and provide us your email address, which is here <a href="{% url 'signup' %}"></a>. Otherwise, we don't hold responsibility to keep you updated.</li>
                  </ul>. 
                </p>
            </section>

            <section class="Element-heading">
                <h3>IMPORTANT INFORMATION FOR CALIFORNIA RESIDENTS – YOUR CALIFORNIA PRIVACY RIGHTS</h3>
                <p>
                  If you are a California resident, you can learn more about your consumer privacy rights by reviewing the <a href="https://www.usnews.com/features/info/privacy/ccpa">California Privacy Notice</a>.
                </p>
            </section>

        
</body>
    <!-- End Sample Area -->
{% endblock %}
